<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>383597021083-kc13128i8eda77cg9fik5e0l47g4ss00.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.383597021083-kc13128i8eda77cg9fik5e0l47g4ss00</string>
	<key>API_KEY</key>
	<string>AIzaSyD5fwsJbAKWg7eHzO2NttXIsThiwGTPtIc</string>
	<key>GCM_SENDER_ID</key>
	<string>383597021083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.perrosSos</string>
	<key>PROJECT_ID</key>
	<string>perros-sos-4dd7a</string>
	<key>STORAGE_BUCKET</key>
	<string>perros-sos-4dd7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:383597021083:ios:001284f3313110f6bc433e</string>
</dict>
</plist>